/* 
    Document   : emergente
    Created on : 10-14-2013, 10:19:50 PM
    Description:
        Purpose of the stylesheet follows.
*/

#popup_box { 
    
    display: none;
    position: absolute;
    height:500px;  
    width: 50%;
    min-width: 550px;
    background:#FFF;  
    left: 25%;
    right:25%;
    top: 10%;
    z-index:1000; /* Layering ( on-top of others), if you have lots of layers: I just maximized, you can change it yourself */
    
    color: #888;
    /* additional features, can be omitted */
    border:1px solid #797979;
    
    font-size:15px;  
  
	-webkit-box-shadow: 0px 0px 0px 3px rgba(94,94,94,1);
	-moz-box-shadow: 0px 0px 0px 3px rgba(94,94,94,1);
	box-shadow: 0px 0px 0px 3px rgba(94,94,94,1);  
}

#popup_box_exp { 
    
    display: none;
    position: absolute;
    width: 80%;
    
    min-width: 880px;
    background:#FFF;  
    left: 10%;
    right:10%;
    top: 10%;
    z-index:1000; /* Layering ( on-top of others), if you have lots of layers: I just maximized, you can change it yourself */
    color: #888;
    /* additional features, can be omitted */
    border:1px solid #797979;
    font-size:15px;
	-webkit-box-shadow: 0px 0px 0px 3px rgba(94,94,94,1);
	-moz-box-shadow: 0px 0px 0px 3px rgba(94,94,94,1);
	box-shadow: 0px 0px 0px 3px rgba(94,94,94,1);
}



#info_estudio {
	border-bottom: 1px solid #D8D8D8;

}

#info_estudio { 
	color: white;
}

#info_estudio table td:nth-child(1){
	width: 60%;
}


#imagen_estudio {
	background: black;
	width: 45%;
	min-height: 471px;

	float: left;
}

#imagen {
	border-bottom: 1px solid #D8D8D8;
}

#imagen img {
	
	width: 96%;
	border: 9px solid black;
	border-bottom: 0px solid white;
	
}

#full {
	margin-top: -10px;
	height: 23px;
	width: 23px;
	margin-left: 2px;
}

#full img {
	vertical-align: middle;
	width: 90%;
	border: 0px;
}

#zoom {
	
	width: 100%;
	
	float: left;
}

#zoom img {
	height: 20px;
	width: 20px;
	vertical-align: middle;
}

#zoom table { 
	width: 100%;
}

#zoom table td:nth-child(1)  {
	width: 15%;
}

#zoom table td:nth-child(2)  {
	width: 400px;
	text-align: right;
}

#transcripcion {
	float: right;
	width: 55%;
	min-width: 430px;
	
}
#transcripcion div {
	border-bottom: 1px solid #E2E2E2;	
}

#transcripcion_estudios div:first-child div{
	background: #555555; 
	color: white;
	height: 30px;
	vertical-align: middle;
	font-size: 18px;
}

#transcripcion_estudios div div:first-child {
	float: left;
	width: 60%;
	text-align: left;

}

#transcripcion_estudios_consulta div:nth-child(1) div{
	background: #555555; 
	color: white;
	height: 30px;
	vertical-align: middle;
	font-size: 18px;
}

#transcripcion_estudios_consulta div:first-child div:nth-child(1) {
	float: left;
	width: 60%;
	text-align: left;
}

#transcripcion_estudios_consulta div:first-child div:nth-child(2) {
	float: left;
	width: 38%;
	text-align: center;
}

#transcripcion_estudios_consulta div div:nth-child(3){
	width: 2%;
	height: 30px;
	float: right;
	margin: 0;
	text-align: center; 
}

#transcripcion_estudios_consulta div div:nth-child(3) img{
	vertical-align: middle;
	margin: 0 auto;
}

#cerrar_exp {
	text-align: right;
	padding-right: 5px;
	padding-top: 5px;
}

#cerrar_exp img {
	cursor: pointer;
}

#titulo2_botones { 
	float: right;
	height: 30px;
	margin-top: 10px;
}

#titulo2_botones button:first-child { 
	background: #3B97D6;
	border: 0px;
	height: 25px;
	width: 100px;
	color: white
       
}

#titulo2_botones button:last-child { 
	background: #F2F2F2;
	border: 1px solid #E0E0E0;
	color: #555555;
	height: 25px;
	width: 100px;
	
}

#radiologo {
	height: 30px;
}

#resultado {
	height: 320px;
	width: 100%;
	overflow: hidden;
	
	
}

#conclusion {
	height: 115px;
	width: 100%;
	
	overflow: hidden;
}

	#hnr_sircimbundle_diagnosticotype_diConclusion{
		position: absolute;
		width: 100%;
		padding-left: 10px;
		height: 100px;
	}

	#hnr_sircimbundle_diagnosticotype_diResultado{
		position: absolute;
		width: 100%;
		padding-left: 10px;
		height: 320px;
	}

#cargando {
	height: 300px;
	width: 100%;
	text-align: center;
	
}

#cargando img{
	margin-top: 18%;
	height: 15px;
	width: 15px;
	

}

#deshabilitar{
	display: none;
	height: 100%;
	width: 100%;
	min-width: 1100px;
	min-height: 630px;
	z-index: 999;
	top: 0;
	position: absolute;
	background-color:#6D6D6D;
	opacity:0.85;

}



#titulo table{
	width: 85%;
	margin: 0 auto;
	border-bottom: 1px solid #D8D8D8;
}

.titulo2 {
	border-bottom: 1px solid #D8D8D8;
}


#botones{
	border-top:  1px solid #D8D8D8;
	text-align: right;
	padding-right: 12px;
	padding-top: 17px;
	height: 43px;
	z-index: 3000;

	
}

#usuario_guardar{
	background: #3B97D6;
	height: 31px;
	width: 130px;
	border:0px;
	color:white;
	cursor: pointer;
}

#usuario_cancelar{
	background: #555555;
	height: 31px;
	width: 130px;
	border:0px;
	color:white;	
	cursor: pointer;
}


#cerrar {
	float: right;
	margin-top: -25px;
	margin-right: 5px;
	cursor: pointer;
}

#cerrar:hover {
	filter:alpha(opacity=65); 
	-moz-opacity: 0.65; 
	opacity: 0.65;
	
	
}

.alert {
	border:solid 2px #DEDEDE;
   	background:#D8D8D8 url(img/icon-heart.png) center no-repeat;
	background-position: 10px 50%; /* x-pos y-pos */
	color:#222222;
	padding:4px;
	text-align:center;

	}

