{% extends ajax ? 'hnrsircimBundle::blank.html.twig':'hnrsircimBundle::Layout_login.html.twig' %}
{% block body %}
	{% if ajax %}
	<div id="sesion_mensaje">
		<div>
			<input type="button" value="Iniciar sesi贸n" onClick="location.reload();" id="boton_iniciar_sesion"/><br><br>
			La sesi贸n ha finalizado, para continuar inicie sesi贸n nuevamente
			{# <a id="boton_iniciar_sesion" href="javascript:location.reload()">Iniciar sesi贸n</a> #}
			
		</div>
	</div>
	{% else %}
	<div id="sesion_mensaje">
		<div>
			Acceso denegado
		</div>
	</div>

	{% endif %}
{% endblock %}