
{% block body -%}
    <div id="titulo_barra">
        Consultar tamaño de placa
        
    </div>
    
<br><br>

   <table id="tbl_placa" class="tbl_nuevo" align="center">
            <tr>
                <td colspan="2">
                    <div id="titulo">
                        Información de la placa
                    </div>                
                </td>
            </tr>
            <tr>
            </tr>
            <tr>
                <td>
                    Tamaño:
                </td>
                <td>
                    {{ entity.tpTamano }}
                </td>
            </tr>    

            
              
        </table>

        
{% endblock %}
