#area_trabajo #div_left{
    float: left;
    display: block;
    width: 25%;
    height: 98%;
    padding-top: 2%;
    /*background-color: #666;*/
}

#area_trabajo #citas, 
#area_trabajo #estudios,
#area_trabajo #citas_semana,
#area_trabajo #citas_paciente,
#area_trabajo #estudios_paciente{
    float: right;
    display: block;
    width: 75%;
    height: 98%;
    /*background-color: #ccc;*/
    padding-top: 2%;
}

    #area_trabajo #citas_semana{
        max-height: 90%;
        overflow: auto;
    }
    
#citas table,
#estudios table,
#citas_semana table,
#citas_paciente table,
#estudios_paciente table{
    width: 100%;
}

#citas table th,
#estudios table th,
#citas_paciente table th,
#estudios_paciente table th{
    /*width: 20%;*/
    font-size: 14px;
    color: #fff;
    text-align: left;
    line-height: 27px;
    background-color: #3B97D6;
}

#citas table th:nth-of-type(n+1),
#estudios table th:nth-of-type(n+1),
#citas_paciente table th:nth-of-type(n+1),
#estudios_paciente table th:nth-of-type(n+1){
    padding-left: 5px;
}

#citas table th:first-child,
#estudios table th:first-child,
#citas_paciente table th:first-child,
#estudios_paciente table th:first-child{
    background-color: #fff;
}

#citas table th:nth-of-type(2),
#estudios table th:nth-of-type(2){
    width: 8%;
    padding-left: 5px;
}
    
    #citas_paciente table th:nth-of-type(2){
        width: 30%;
        padding-left: 5px;
    }
    
    #estudios_paciente table th:nth-of-type(2){
        width: 25%;
        padding-left: 5px;
    }

#citas table th:nth-of-type(3){
    width: 33%;
}

    #estudios table th:nth-of-type(3),
    #citas_paciente table th:nth-of-type(3){
        width: 30%;
    }
    
    #estudios_paciente table th:nth-of-type(3){
        width: 20%;
    }

#citas table th:nth-of-type(4),
#estudios table th:nth-of-type(4){
    width: 8%;
}

    #citas_paciente table th:nth-of-type(4){
        width: 10%;
    }

#citas table th:nth-of-type(5){
    width: 25%;
}

    #estudios table th:nth-of-type(5){
        width: 20%;
    }
    
    #citas_paciente table th:nth-of-type(5){
        width: 10%; 
   }

#estudios table th:nth-of-type(6){
    width: 20%;
}

#citas table td,
#estudios table td,
#citas_paciente table td,
#estudios_paciente table td{
    /*width: 20%;*/
    font-size: 14px;
    color: #727272;
    text-align: left;
    line-height: 18px;
    border-bottom: 1px solid #ccc;   
}

#citas table tr:hover,
#estudios table tr:hover,
#citas_paciente table tr:hover,
#estudios_paciente table tr:hover{
    background-color: #F2F2F2;
}

#citas table tr:hover td:first-child,
#estudios table tr:hover td:first-child,
#citas_paciente table tr:hover td:first-child,
#estudios_paciente table tr:hover td:first-child{
    background-color: #fff;
}

#citas table td:first-child,
#estudios table td:first-child,
#citas_paciente table td:first-child,
#estudios_paciente table td:first-child{
    border: none;
}

#citas table td.indicador_hora,
#estudios table td.indicador_hora{
    border-top: 1px solid #ccc;
}
    
    #citas tr:first-child td:first-child,
    #estudios tr:first-child td:first-child,
    #citas_paciente tr:first-child td:first-child,
    #estudios_paciente tr:first-child td:first-child{
        border: none;
    }

#citas table .pendiente,
#citas_paciente table .pendiente{
    background-image: url('../../../img/pendiente.png');
    background-repeat: no-repeat;
    background-position:  100% 55%;
}

#citas table .asistida,
#citas_paciente table .asistida{
    background-image: url('../../../img/asistida.png');
    background-repeat: no-repeat;
    background-position:  100% 55%;
}


#citas table .no_asistida,
#citas_paciente table .no_asistida{
    background-image: url('../../../img/no_asistida.png');
    background-repeat: no-repeat;
    background-position:  100% 55%;
}

#citas table .cancelada,
#citas_paciente table .cancelada{
    background-image: url('../../../img/cancelada.png');
    background-repeat: no-repeat;
    background-position:  100% 55%;
}

table .td_list{
    position: relative;
    vertical-align: middle;
    /*background-color: green;*/
}

.td_list .wrapper{
    visibility: hidden;
    position: inherit; 
    height: 100%;
    width: 50px;
    margin: 0 auto;
    background-color: blue;   
}

tr:hover .wrapper{
    visibility: visible;
}

/******************************************/
/*            Citas x paciente            */
/******************************************/

#div_left #citas_info_paciente{	
    border: 1px solid #D8D8D8;
    border-spacing: 0px;
    margin-left: 0;
    text-align: left;
    width: 85%;	
}

    #citas_info_paciente img{
        height: 20px;
        width: 20px;
        margin-top: -2px;
        margin-left: -2%;
        position: absolute;
    }
    
    #citas_info_paciente tr:nth-child(1){
        color: white;
        background: #ED6859;
        height: 31px;
        margin-left: 50%;
        text-align: center;
        line-height: 31px;
    }

    #citas_info_paciente tr:nth-of-type(n+2) td{
        text-align: left;        
    }

    #citas_info_paciente tr:nth-of-type(2n+3) td{
        height: 25px;
        color: #FF5140;        
    }


    