.semana-nomdias{
    width: 100%;    
    min-width: 80%;
    height: 5%;     /* altura para los nombres de los dias */
}

.semana-nomdias td{
    width: 13.2857142857%;
    
    vertical-align: bottom;
    text-align: center;    
    color: #727272;    
}
    
    .semana-nomdias td:first-child{
        width: 7%;
    }

#citas_semana .tabla-dia,
#citas_semana .tabla-hora{
    float: left;    
}

    #citas_semana .tabla-dia{
        width: 13.2857142857%;
    }
    
    #citas_semana .tabla-hora{
        width: 7%;
    }

    #citas_semana .tabla-dia td,
    #citas_semana .tabla-hora td{
        
        /*padding-left: 7px;*/
        
        
        line-height: 25px;
        
        color: #727272;
        padding: 5px;
    }
    
    #citas_semana .tabla-dia td{
        height: 25px;
        border: 1px solid #ccc;
        border-right: none;
        font-size: 11px;
    }
    
        #citas_semana .tabla-dia:last-child td{
            border-right: 1px solid #ccc;
        }
        
        .tabla-dia td table td{
            padding: 0 !important;
            padding-left: 2px;
            border: none !important;
        }
    
    #citas_semana .tabla-hora td{
        height: 26px;
        font-size: 12px;
    }

    
        #citas_semana .tabla-hora td.indicador_hora{
            /*height: 24px;*/
            height: 10px;
            border-top: 1px solid #ccc;
        }
    
        #citas_semana .tabla-hora tr:first-child td:first-child{
            height: 26px;
            border-top: none;
        }
    
    .tabla-dia td.Pendiente{
        background: -webkit-linear-gradient(to right, #3B97D6 2%, #fff 0%);
        background:    -moz-linear-gradient(to right, #3B97D6 2%, #fff 0%);
        background:      -o-linear-gradient(to right, #3B97D6 2%, #fff 0%);
        background:     -ms-linear-gradient(to right, #3B97D6 2%, #fff 0%);
        background:         linear-gradient(to right, #3B97D6 2%, #fff 0%);
    }
    
    .tabla-dia td.Cancelada{
        background: -webkit-linear-gradient(to right, #ED6859 2%, #fff 0%);
        background:    -moz-linear-gradient(to right, #ED6859 2%, #fff 0%);
        background:      -o-linear-gradient(to right, #ED6859 2%, #fff 0%);
        background:     -ms-linear-gradient(to right, #ED6859 2%, #fff 0%);
        background:         linear-gradient(to right, #ED6859 2%, #fff 0%);
    }
    
    .tabla-dia td.Asistida{
        background: -webkit-linear-gradient(to right, #21A438 2%, #fff 0%);
        background:    -moz-linear-gradient(to right, #21A438 2%, #fff 0%);
        background:      -o-linear-gradient(to right, #21A438 2%, #fff 0%);
        background:     -ms-linear-gradient(to right, #21A438 2%, #fff 0%);
        background:         linear-gradient(to right, #21A438 2%, #fff 0%);
    }
    
    .tabla-dia td.no_asistida{
        background: -webkit-linear-gradient(to right, #FFFF00 2%, #fff 0%);
        background:    -moz-linear-gradient(to right, #FFFF00 2%, #fff 0%);
        background:      -o-linear-gradient(to right, #FFFF00 2%, #fff 0%);
        background:     -ms-linear-gradient(to right, #FFFF00 2%, #fff 0%);
        background:         linear-gradient(to right, #FFFF00 2%, #fff 0%);
    }
    
    